footer {
	background-color: #f8f9fa;
	width: 100%;
	display: flex;
	flex-direction: column;
	border-radius: 8px 8px 0px 0px;
}

.top {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.mid {
	width: 100%;
	display: flex;
	height: 40px;
	padding: 0;
	justify-content: center;
}

.icons {
	width: 40px;
	height: 40px;
	margin: 0 5px;
}

.bot {
	padding: 10px;
	width: 100%;
	text-align: center;
}

.footerlogo {
	display: flex;
	flex-direction: row-reverse;
	width: 50%;
	height: 100%;
	align-items: center;
}

.footerlogo img {
	width: 200px;
	height: 100px;
	margin: 20px;
}

.footerli {
	display: flex;
	flex-direction: row;
	width: 50%;
	padding: 20px;
	align-items: center;
}

.footerli li {
	list-style-type: none;
}

.footerli a,
.footerli a:visited {
	text-decoration: none;
	color: inherit;
}

.mainnav {
	border-radius: 0px 0px 8px 8px;
	padding: 10px;
	position: fixed;
	width: calc(100% - 60px);
}

.me-auto {
	margin-right: auto;
}

.navbar-brand:hover {
	text-decoration: none;
}

.navimg {
	height: 30px;
}

@media (max-width: 600px) {
	.top {
		flex-direction: column;
		align-items: center;
	}
	.footerli {
		padding: 20px 0px;
		width: 100%;
		flex-direction: column;
		margin-left: -40px;
	}
	.footerlogo img {
		width: 150px;
		height: 75px;
		margin: 0px;
	}
	.footerlogo {
		flex-direction: column;
		width: 100%;
		margin-top: 20px;
	}

	.mainnav {
		width: calc(100% - 20px);
	}
}
