body {
	display: flex;
	flex-direction: column;
	left: 0;
}

.main {
	align-self: center;
	width: 100%;
	height: 2000px;
	padding: 0px 30px;
	display: flex;
	flex-direction: column;
}

.mainnav {
	border-radius: 0px 0px 8px 8px;
	padding: 10px;
}

.me-auto {
	margin-right: auto;
}

.navbar-brand:hover {
	text-decoration: none;
}

footer {
	background-color: red;
	width: 100%;
	display: flex;
}
