body {
	left: 0;
	top: 0;
}

img {
	object-fit: cover;
}

.flexv {
	display: flex;
	flex-direction: column;
}

.main {
	align-self: center;
	width: 100%;
	padding: 0px 30px;
	display: flex;
	flex-direction: column;
}

.space {
	height: 70px;
	width: auto;
}

.spacel {
	height: 30px;
	width: auto;
}

/*INDEX*/

.hero-image {
	background-image: url("./backgrounds/paul-kansonkho-fDvByj8ms3k-unsplash.jpg");
	height: 105%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	border-radius: 0px 0px 20px 20px;
}

.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: rgb(255, 255, 255);
}

.maincontent {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	/* background-color: red; */
	padding: 0;
}

.maincontent > p {
	word-break: break-word;
	padding: 0;
	width: 75%;
	font-size: larger;
}

.maincontent > img {
	width: 25%;
	align-self: center;
	height: 225px;
	border-radius: 10px;
	box-shadow: 5px 5px 15px rgb(197, 197, 197);
}

/*SIGN UP / LOGIN*/

.loginbody {
	background-image: url(./backgrounds/yrka-pictured-2KWoLew_M5Q-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	height: 100%;
	margin: 0;
}

.signupbody {
	background-image: url(./backgrounds/prateek-katyal-I02vLowUxgg-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	height: 100%;
	margin: 0;
}

.loginmain {
	margin: calc(50vh - 200px) 0px;
	align-self: center;
	display: flex;
	flex-direction: row;
	height: 400px;
}

.loginsquare {
	background-color: white;
	width: 500px;
	height: 350px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-self: center;
	opacity: 95%;
	margin: calc(50vh - 150px) 0px;
	padding: 20px;
}

.signupsquare {
	background-color: white;
	width: 500px;
	height: 700px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-self: center;
	opacity: 95%;
	margin: calc(50vh - 150px) 0px;
	padding: 20px;
}

.loginlogo {
	height: auto;
	width: 400px;
	align-self: center;
	margin: 20px;
}

.lcbutton {
	background-color: rgb(180, 255, 217);
	color: black;
	transition-duration: 0.2s;
	padding: 15px;
	border-radius: 10px;
}

.lcbutton:hover {
	box-shadow: 0px 0px 15px 5px rgb(204, 255, 229);
}

.llbutton {
	background-color: rgb(180, 255, 217);
	color: black;
	transition-duration: 0.2s;
	padding: 15px 30px;
	border-radius: 10px;
}

.llbutton:hover {
	box-shadow: 0px 0px 15px 5px rgb(204, 255, 229);
}

.title {
	padding: 15px 0px;
}

/*RESERVE*/
.reservemain {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.reservemain > div {
	background-color: #f8f9fa;
	border-radius: 10px;
	padding: 20px;
	display: flex;
	flex-direction: column;
}

/*DATE AND TIME*/
.rdatetime {
	flex-grow: 1;
	margin: 10px;
	margin-left: 0;
}

.rdtsubmit {
	background-color: black;
	color: white;
	transition-duration: 0.2s;
}

.rdtsubmit:hover {
	color: white;
	box-shadow: 0px 0px 10px 0px black;
}

.rgarage {
	flex-grow: 3;
	margin: 10px;
}

.rconfirm {
	flex-grow: 1;
	margin: 10px;
	margin-right: 0;
}

.rconfirmprice {
	font-size: 60px;
	text-align: center;
}

/*AVAILABILITY GRAPHIC*/
.rgraphic {
	width: 100%;
	height: 400px;
	display: flex;
	flex-direction: row;
}

.rgcabin {
	height: 100%;
	flex-grow: 1;
	border-radius: 10px;
	background-color: red;
	margin: 3px;
}

.rgvcabin {
	height: 100%;
	flex-grow: 1;
	border-radius: 10px;
	margin: 3px;
	display: flex;
	flex-direction: column;
}

.rgcabin {
	height: 100%;
	flex-grow: 1;
	border-radius: 10px;
	background-color: red;
	margin: 3px;
}

.rgmcabin {
	width: 100%;
	flex-grow: 1;
	border-radius: 10px;
	background-color: red;
	margin: 3px 0;
}

.cabin {
	font-size: 40px;
	color: black;
	text-align: center;
	position: relative;
}

.cabin p {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*CONFIRMATION*/

.greenbutton {
	border: none;
	border-radius: 10px;
	background-color: rgb(180, 255, 217);
	box-shadow: none;
	padding: 10px 20px;
	transition-duration: 0.2s;
	font-size: large;
}

.greenbutton:hover {
	box-shadow: 0px 0px 15px 5px rgb(204, 255, 229);
}

/*DASHBOARD*/

.drow {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.dcardl {
	flex-grow: 1;
	display: flex;
	height: 100px;
	background-color: #f8f9fa;
	border-radius: 10px;
	margin: 10px;
}

.dcardm {
	display: flex;
	height: 300px;
	background-color: #f8f9fa;
	border-radius: 10px;
	margin: 10px;
}

.duser {
	flex-direction: row;
	align-items: center;
	padding: 10px 20px;
}

.duseru {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-self: center;
}

.duseru h2 {
	margin-bottom: 5px;
}

.duserimg img {
	height: 80px;
	border-radius: 100%;
}

.dappointment {
	flex-direction: column;
	padding: 15px 20px;
}

.dappointment h2 {
	margin-bottom: 5px;
}

.dsettings {
	padding: 20px;
	flex-grow: 2;
}

.dvehicles {
	padding: 20px;
	flex-grow: 1;
}

/*About*/

.location {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.map {
	flex-grow: 1;
	margin: 10px;
	background-color: #f8f9fa;
	border-radius: 10px;
}

.address {
	flex-grow: 1;
	margin: 10px;
	background-color: #f8f9fa;
	border-radius: 10px;
	height: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/*RESPONSIVE*/

@media (max-width: 1000px) {
	/*Reserve*/
	.reservemain {
		flex-direction: row;
	}
	.rgraphic {
		height: 200px;
	}

	/*Login*/
	.loginlogo {
		height: 150px;
		width: 300px;
	}
	.loginsquare {
		height: 350px;
		width: 400px;
		margin: 0px;
	}
	.signupsquare {
		height: 700px;
		width: 400px;
		margin: 0px;
	}

	/*Main content*/

	.maincontent > p {
		width: 65%;
	}

	.maincontent > img {
		width: 35%;
		height: 250px;
	}
}

@media (max-width: 800px) {
	/*Reserve*/
	.reservemain {
		flex-direction: column;
	}
	.rgraphic {
		height: 300px;
	}

	/*Login*/
	.loginbody {
		background-image: url(./backgrounds/raban-haaijk-wftNpcjCHT4-unsplash.jpg);
	}

	.loginmain {
		flex-direction: column;
		margin: calc(50vh - 300px) 0px;
		height: 600px;
	}
	.signupbody {
		height: 120%;
		background-image: url(./backgrounds/claude-gabriel-p3vvMhj_qjU-unsplash.jpg);
	}

	/*Dashboard*/
	.drow {
		flex-direction: column;
	}

	/*Main content*/
	.maincontent {
		flex-direction: column;
	}

	.maincontent > p {
		width: 100%;
	}

	.maincontent > img {
		width: 100%;
		height: 300px;
	}
}

@media (max-width: 600px) {
	/*Main / mobile*/
	.main {
		padding: 0px 10px;
	}
}
