body {
	left: 0;
	top: 0;
}

img {
	object-fit: cover;
}

.flexv {
	display: flex;
	flex-direction: column;
}

.main {
	align-self: center;
	width: 100%;
	padding: 0px 30px;
	display: flex;
	flex-direction: column;
}

.space {
	height: 70px;
	width: auto;
}

.spacel {
	height: 30px;
	width: auto;
}

/*INDEX*/

.hero-image {
	background-image: url("./backgrounds/paul-kansonkho-fDvByj8ms3k-unsplash.jpg");
	height: 105%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	border-radius: 0px 0px 20px 20px;
	box-shadow: 5px 0px 150px rgb(212, 190, 149);
}

.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: rgb(255, 255, 255);
}

.maincontent {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 0;
}

.maincontent > p {
	word-break: break-word;
	padding: 0;
	width: 75%;
	font-size: larger;
}

.maincontent > img {
	width: 25%;
	align-self: center;
	height: 225px;
	border-radius: 10px;
	box-shadow: 5px 5px 15px #d1d1d1;
}

/*SIGN UP / LOGIN*/

.loginbody {
	background-image: url(./backgrounds/yrka-pictured-2KWoLew_M5Q-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	height: 100%;
	margin: 0;
}

.signupbody {
	background-image: url(./backgrounds/prateek-katyal-I02vLowUxgg-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	height: 100%;
	margin: 0;
}

.loginmain {
	margin: calc(50vh - 200px) 0px;
	align-self: center;
	display: flex;
	flex-direction: row;
	height: 400px;
}

.loginsquare {
	background-color: white;
	width: 500px;
	height: 350px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-self: center;
	opacity: 95%;
	margin: calc(50vh - 150px) 0px;
	padding: 20px;
}

.signupsquare {
	background-color: white;
	width: 500px;
	height: 700px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-self: center;
	opacity: 95%;
	margin: calc(50vh - 150px) 0px;
	padding: 20px;
}

.loginlogo {
	height: auto;
	width: 400px;
	align-self: center;
	margin: 20px;
}

.lcbutton {
	background-color: rgb(180, 255, 217);
	color: black;
	transition-duration: 0.2s;
	padding: 15px;
	border-radius: 10px;
}

.lcbutton:hover {
	box-shadow: 0px 0px 15px 5px rgb(204, 255, 229);
}

.llbutton {
	background-color: rgb(180, 255, 217);
	color: black;
	transition-duration: 0.2s;
	padding: 15px 30px;
	border-radius: 10px;
}

.llbutton:hover {
	box-shadow: 0px 0px 15px 5px rgb(204, 255, 229);
}

.title {
	padding: 15px 0px;
}

/*RESERVE*/
.reservemain {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.reservemain > div {
	background-color: #f8f9fa;
	border-radius: 10px;
	padding: 20px;
	display: flex;
	flex-direction: column;
}

.rgctext {
	align-self: center;
}

/*DATE AND TIME*/
.rdatetime {
	flex-grow: 1;
	margin: 10px;
	margin-left: 0;
}

.rdtsubmit {
	background-color: black;
	color: white;
	transition-duration: 0.2s;
}

.rdtsubmit:hover {
	color: white;
	box-shadow: 0px 0px 10px 0px black;
}

.rgarage {
	flex-grow: 3;
	margin: 10px;
}

.rconfirm {
	flex-grow: 1;
	margin: 10px;
	margin-right: 0;
}

.rconfirmprice {
	font-size: 60px;
	text-align: center;
}

/*AVAILABILITY GRAPHIC*/
.rgraphic {
	width: 100%;
	height: 400px;
	display: flex;
	flex-direction: row;
}

.rgvcabin {
	height: 100%;
	flex-grow: 1;
	border-radius: 10px;
	margin: 3px;
	display: flex;
	flex-direction: column;
}

.rgcabin {
	height: 100%;
	flex-grow: 1;
	border-radius: 10px;
	margin: 3px;
}

.rgmcabin {
	width: 100%;
	flex-grow: 1;
	border-radius: 10px;
	margin: 3px 0;
}

.cabinfalse {
	background-color: red;
}

.cabintrue {
	background-color: green;
}

.cabin {
	font-size: 40px;
	color: black;
	text-align: center;
	position: relative;
}

.cabin p {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*CONFIRMATION*/

.greenbutton {
	border: none;
	border-radius: 10px;
	background-color: rgb(180, 255, 217);
	box-shadow: none;
	padding: 10px 20px;
	transition-duration: 0.2s;
	font-size: large;
}

.greenbutton:hover {
	box-shadow: 0px 0px 15px 5px rgb(204, 255, 229);
}

/*DASHBOARD*/

.drow {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.dcardl {
	flex-grow: 1;
	display: flex;
	height: 100px;
	background-color: #f8f9fa;
	border-radius: 10px;
	margin: 10px;
}

.dcardm {
	display: flex;
	height: 300px;
	background-color: #f8f9fa;
	border-radius: 10px;
	margin: 10px;
}

.duser {
	background-image: linear-gradient(to bottom right, #7ab3ff, #a35dff);
	color: white;
	flex-direction: row;
	align-items: center;
	padding: 10px 20px;
	box-shadow: 5px 5px 20px #b984ff, -5px -5px 50px #95c2fd;
}

.duser a {
	color: white;
	text-decoration: underline;
}

.duseru {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-self: center;
}

.duseru h2 {
	margin-bottom: 5px;
}

.duserimg img {
	height: 80px;
	border-radius: 100%;
}

.dsettings {
	flex-direction: column;
	padding: 15px 20px;
}

.dsettings h2 {
	margin-bottom: 5px;
}

.dsettings a {
	color: black;
	text-decoration: underline;
	margin-right: 10px;
}

.dappointment {
	padding: 20px;
	flex-grow: 1;
}

.dvehicles {
	padding: 20px;
	flex-grow: 1;
}

/*Shop*/

.s2title {
	border-bottom: #e0e0e0 dotted 2px;
	margin-bottom: 10px;
}

.tadminoptions {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

.tadminbutton {
	align-self: center;
	background-color: #f8f9fa;
	padding: 10px;
	border-radius: 10px;
	color: #007bff;
	text-decoration: none;
	box-shadow: 1px 1px 3px #d1d1d1;
	transition-duration: 0.2s;
	border: none;
}

.products {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: calc(100vh - 515px);
}

.stcontent {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 20px;
}

.sttext {
	display: flex;
	flex-direction: column;
}

.stbrand {
	font-size: 20px;
}

.stright {
	display: flex;
	flex-direction: row;
}

.stright img {
	border-radius: 10px;
	box-shadow: 5px 5px 10px #d0d3ff;
	margin-left: 20px;
	transition-duration: 0.2s;
	width: 200px;
	height: 100px;
}

.stright img:hover {
	box-shadow: 10px 10px 20px #d0d3ff;
}

.stprice {
	margin-right: 20px;
	font-size: 30px;
	align-self: center;
}

.shopform {
	height: 100%;
	display: flex;
	align-items: center;
}

.stbutton {
	align-self: center;
	margin-left: 20px;
	background-color: #f8f9fa;
	padding: 10px;
	box-shadow: 1px 1px 3px #d0d3ff;
	border-radius: 7px;
	transition-duration: 0.2s;
	border: none;
}

.stoos {
	align-self: center;
	margin-left: 20px;
	background-color: #f8f9fa;
	padding: 10px;
	box-shadow: 1px 1px 3px #b1b1b1;
	color: black;
	border-radius: 7px;
	transition-duration: 0.2s;
	cursor: not-allowed;
}

.stoos:hover {
	box-shadow: 5px 5px 10px #ffd0d0;
	text-decoration: none;
	color: #ff0000;
}

.stbutton:hover {
	box-shadow: 5px 5px 10px #d0d3ff;
	text-decoration: none;
	color: #007bff;
}

.snoproducts {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: calc(100vh - 515px);
	align-items: center;
	justify-content: center;
}

.tadminbutton:hover {
	box-shadow: 3px 3px 10px #d1d1d1;
	text-decoration: none;
	color: #007bff;
	cursor: pointer;
}

#addproduct {
	display: none;
	flex-direction: column;
	width: 100%;
	background-image: linear-gradient(to bottom right, #ff7aff, #a35dff);
	box-shadow: -1px -1px 5px #ff7aff, 1px 1px 5px #a35dff;
	margin-bottom: 20px;
	border-radius: 10px;
	padding: 20px 20px 5px 20px;
	transition-duration: 0.2s;
}

#addproduct:hover {
	box-shadow: -5px -5px 20px #ff7aff, 5px 5px 20px #a35dff;
}

.admintop {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

.admintitle {
	color: white;
}

.adminclose {
	background-color: #00000000;
	color: white;
	text-decoration: none;
	border: none;
}

.adminform {
	display: flex;
	flex-direction: row;
	padding: 5px;
}

.afstructure {
	display: flex;
	flex-direction: row;
	color: white;
}

.adminform > label {
	width: 55px;
}

.admininput {
	border-radius: 7px;
	border: none;
	background-color: #ffffffc4;
	padding: 0px 7px;
}

.afbutton {
	border-radius: 10px;
	border: none;
	padding: 10px;
	color: white;
	background-color: black;
	margin-top: 10px;
	transition-duration: 0.2s;
}

.afbutton:hover {
	box-shadow: 0px 0px 10px black;
}

.sbanner {
	background-image: linear-gradient(to bottom right, #7ab3ff, #a35dff);
	border-radius: 10px;
	padding: 20px;
	color: white;
	transition-duration: 0.2s;
	box-shadow: 1px 1px 10px #b984ff, 0px 0px 5px #95c2fd;
	cursor: default;
}

.sbanner:hover {
	box-shadow: 5px 5px 25px #b984ff, -5px -5px 25px #95c2fd;
}

.staoptionsbutton {
	border: none;
	background-color: #00000000;
	padding: 0;
}

.staoptions {
	display: flex;
}

.staoptions a {
	cursor: pointer;
}

/*About*/

.location {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.map {
	flex-grow: 1;
	margin: 10px;
	background-color: #f8f9fa;
	border-radius: 10px;
}

.address {
	flex-grow: 1;
	margin: 10px;
	background-color: #f8f9fa;
	border-radius: 10px;
	height: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/*RESPONSIVE*/

@media (max-width: 1000px) {
	/*Reserve*/
	.reservemain {
		flex-direction: row;
	}
	.rgraphic {
		height: 200px;
	}

	/*Login*/
	.loginlogo {
		height: 150px;
		width: 300px;
	}
	.loginsquare {
		height: 350px;
		width: 400px;
		margin: 0px;
	}
	.signupsquare {
		height: 700px;
		width: 400px;
		margin: 0px;
	}

	/*Main content*/

	.maincontent > p {
		width: 65%;
	}

	.maincontent > img {
		width: 35%;
		height: 250px;
	}
}

@media (max-width: 800px) {
	/*Reserve*/
	.reservemain {
		flex-direction: column;
	}
	.rgraphic {
		height: 300px;
	}

	/*Login*/
	.loginbody {
		background-image: url(./backgrounds/raban-haaijk-wftNpcjCHT4-unsplash.jpg);
	}

	.loginmain {
		flex-direction: column;
		margin: calc(50vh - 300px) 0px;
		height: 600px;
	}
	.signupbody {
		height: 120%;
		background-image: url(./backgrounds/claude-gabriel-p3vvMhj_qjU-unsplash.jpg);
	}

	/*Dashboard*/
	.drow {
		flex-direction: column;
	}

	/*Main content*/
	.maincontent {
		flex-direction: column;
	}

	.maincontent > p {
		width: 100%;
	}

	.maincontent > img {
		width: 100%;
		height: 300px;
	}

	/*Shop*/

	.stcontent {
		flex-direction: column-reverse;
		margin-bottom: 10px;
	}

	.sttext {
		margin: 0px;
		margin-bottom: 20px;
		text-align: center;
	}

	.stprice {
		margin: 0;
	}

	.stright {
		flex-direction: column-reverse;
	}

	.stright img {
		align-self: center;
		margin: 0;
		margin-top: 10px;
	}

	.stbutton,
	.stoos {
		margin: 0;
		margin-top: 10px;
		width: 50%;
		text-align: center;
	}

	.shopform {
		flex-direction: column;
		margin: 0;
	}

	.sfamount {
		margin-top: 10px;
	}
}

@media (max-width: 600px) {
	/*Main / mobile*/
	.main {
		padding: 0px 10px;
	}
}
