body {
	left: 0;
	top: 0;
}

.flexv {
	display: flex;
	flex-direction: column;
}

.main {
	align-self: center;
	width: 100%;
	padding: 0px 30px;
	display: flex;
	flex-direction: column;
}

.space {
	height: 70px;
	width: auto;
}

.hero-image {
	background-image: url("./backgrounds/paul-kansonkho-fDvByj8ms3k-unsplash.jpg");
	height: 105%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	border-radius: 0px 0px 20px 20px;
}

.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: rgb(255, 255, 255);
}

.loginbody {
	/*filenames gotta be changed, this should be random somehow*/
	background-image: url(./backgrounds/yrka-pictured-2KWoLew_M5Q-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	height: 100%;
	margin: 0;
}

.loginmain {
	margin: calc(50vh - 200px) 0px;
	align-self: center;
	display: flex;
	flex-direction: row;
	height: 400px;
}

.loginsquare {
	background-color: white;
	width: 500px;
	height: 300px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-self: center;
	opacity: 95%;
	margin: calc(50vh - 150px) 0px;
}

.title {
	padding: 15px 0px;
}

.reservemain {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.reservemain > div {
	background-color: #f8f9fa;
	border-radius: 10px;
	padding: 20px;
	display: flex;
	flex-direction: column;
}

.rdatetime {
	flex-grow: 1;
	margin: 10px;
	margin-left: 0;
}

.rgarage {
	flex-grow: 2;
	margin: 10px;
}

.rconfirm {
	flex-grow: 1;
	margin: 10px;
	margin-right: 0;
}

.greenbutton {
	border: none;
	border-radius: 10px;
	background-color: rgb(180, 255, 217);
	box-shadow: none;
	padding: 10px 20px;
	transition-duration: 0.2s;
	font-size: large;
}

.greenbutton:hover {
	box-shadow: 0px 0px 15px 5px rgb(204, 255, 229);
}

@media (max-width: 600px) {
	.main {
		padding: 0px 10px;
	}
}
