body {
	display: flex;
	flex-direction: column;
	left: 0;
	top: 0;
}

.main {
	align-self: center;
	width: 100%;
	height: 2000px;
	padding: 0px 30px;
	display: flex;
	flex-direction: column;
}

.loginbody {
	/*filenames gotta be changed, this should be random somehow*/
	background-image: url(./backgrounds/yrka-pictured-2KWoLew_M5Q-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	height: 100%;
	margin: 0;
}

.loginmain {
	margin: calc(50vh - 200px) 0px;
	align-self: center;
	display: flex;
	flex-direction: row;
	height: 400px;
}

.loginsquare {
	background-color: white;
	width: 500px;
	height: 300px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-self: center;
	opacity: 95%;
	margin: calc(50vh - 150px) 0px;
}
